@model BulkyBookWeb.Models.MasterList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MasterList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Citizenship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citizenship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MothersMaiden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MothersMaiden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSGCRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSGCRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSGCProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSGCProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSGCCityMun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSGCCityMun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSGCBrgy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSGCBrgy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatusID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducAttain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducAttain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDDateIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDDateIssued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pantawid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pantawid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indigenous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indigenous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialPensionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialPensionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthStatusID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthStatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthStatusRemarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthStatusRemarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeEntry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSourceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSourceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InclusionBatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InclusionBatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InclusionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InclusionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExclusionBatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExclusionBatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExclusionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExclusionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeceased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeceased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaitlistedReportID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaitlistedReportID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithPhoto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
